*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: SpoofTrial;
    src: url(assets/fonts/SpoofTrial-Medium.otf);
    
}
@font-face {
    font-family: Lobster;
    src: url(assets/fonts/Lobster/Lobster-Regular.ttf);
}

@font-face {
    font-family: Nooks;
    src: url(assets/fonts/tt_nooks/TT\ Nooks\ Trial\ Regular.otf);
}
@font-face {
    font-family: Nooks Bold;
    src: url(assets/fonts/tt_nooks/TT\ Nooks\ Trial\ Bold.otf);
}
@font-face {
    font-family: siffea;
    src: url(assets/fonts/siffea.ttf);
}
@font-face {
    font-family: monstac;
    src: url(assets/fonts/monstac-realmid.ttf);
}
@font-face {
    font-family: madiosa;
    src: url(assets/fonts/madiosa.ttf);
}
@font-face {
    font-family: SpoofTrial;
    src: url(assets/fonts/SpoofTrial-Medium.otf);
    
}
@font-face {
    font-family: Lobster;
    src: url(assets/fonts/Lobster/Lobster-Regular.ttf);
}
@font-face {
    font-family: Nooks;
    src: url(assets/fonts/tt_nooks/TT\ Nooks\ Trial\ Regular.otf);
}
@font-face {
    font-family: Nooks Bold;
    src: url(assets/fonts/tt_nooks/TT\ Nooks\ Trial\ Bold.otf);
}

@keyframes scroll {
    0% {transform : translateX(0)}
    100% {transform : translateX(-100vw )}

}
@font-face {
    font-family: siffea;
    src: url(assets/fonts/siffea.ttf);
}
@font-face {
    font-family: fiontina;
    src: url(assets/fonts/fiontina.ttf);
}
.tac-one-regular {
    font-family: "Tac One", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  
  
  


:root {
    --rosedingz : #ffd3eb;
    --beigedingz : #fffbef;
    --jaunedingz : #f8de91;
    --vertdingz : #a1e2bc;
    --violetdingz : #f6eeff;
}
.ad{
    width: 200vw;
    height: 4vh;
    background-color: var(--jaunedingz);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    padding-right: 1rem;
    font-family: siffea;
}
.ad h2 {
    animation: scroll 60s linear infinite;
    position: relative;
    right: -50px;
    margin-right: 7rem;
}


body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family:SpoofTrial;
}

.menu{
    width: 100vw;
    height: 10vh;
    background-color: var(--beigedingz);
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    z-index: 2;
}

.menu .top {
    height: 55%;
    display: flex;
    padding: 1rem;
    padding-left: 4rem;
    flex-direction: column;
    justify-content: center;
    font-family: fiontina;
    font-size: 1.8rem;

}

.menu .bot {
    height: 45%;
    background-color: white;
    border-top : solid black 2px;
}

.menu .bot ul {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 45vw;
    
}
.li-menu {
    border-right: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    color: black;
    cursor: pointer;
}

.li-menu-toggled{
    background-color: var(--vertdingz);

}

.li-menu:hover {
    background-color: var(--vertdingz);
    transition: 0.2s linear;
}

.menu .toggle-menu-btn {
    height: 24px;
    width: 24px;
    transform: rotate(180deg);
    cursor: pointer;
    transition: transform 0.15s linear;

}
.menu .toggle-menu-btn-toggled{
    transform: rotate(0);
    transition: transform 0.15s linear;
}

.toggleMenu {
    width: 100vw;
    height: 10vh;
    background-color: #ffffff;
    position: absolute;
    top: 4vh;
    transition: 0.2s linear ;
    border-bottom : solid black 2px;
    padding-left: 5rem;
    padding-top: 2rem;
    
    
}
.toggleMenuToggled {
    top: 11.5rem;
    transition: 0.2s linear;
    max-height: 80vh;
    border-bottom : solid black 2px;
}

.toggleMenu ul {
    list-style-type: none;
}

.liste-menu{
    list-style-type: none;
}

.liste-menu li {
    margin-bottom: 1rem;
}

a {
    text-decoration : none;
    color: inherit;
}