*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: SpoofTrial;
    src: url(assets/fonts/SpoofTrial-Medium.otf);
    
}
@font-face {
    font-family: Lobster;
    src: url(assets/fonts/Lobster/Lobster-Regular.ttf);
}
.tac-one-regular {
    font-family: "Tac One", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  
  


:root {
    --rosedingz : #ffd3eb;
    --beigedingz : #fffbef;
    --jaunedingz : #f8de91;
    --vertdingz : #a1e2bc;

}


body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family:SpoofTrial;
}

.menu{
    width: 100vw;
    height: 9rem;
    background-color: var(--beigedingz);
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    z-index: 2;
}

.menu .top {
    height: 60%;
    border-bottom: solid black 2px;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    font-family: SpoofTrial  ;

}

.menu .bot {
    height: 40%;
    background-color: white;
}

.menu .bot ul {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 30vw 1fr;
    
}
.li-menu {
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    color: black;
}

.li-menu-toggled{
    background-color: var(--vertdingz);

}

.li-menu:hover {
    background-color: var(--vertdingz);
    transition: 0.2s linear;
}

.menu .toggle-menu-btn {
    height: 24px;
    width: 24px;
    transform: rotate(180deg);
    cursor: pointer;
    transition: transform 0.15s linear;

}
.menu .toggle-menu-btn-toggled{
    transform: rotate(0);
    transition: transform 0.15s linear;
}

.toggleMenu {
    width: 100vw;
    height: 40vh;
    background-color: #ffffff;
    position: absolute;
    top: 0rem;
    height: 9rem;
    transition: 0.2s linear ;
    padding: 1rem;
    border-bottom : solid black 2px;

    
}
.toggleMenuToggled {
    top: 9rem;
    transition: 0.2s linear;
    max-height: 80vh;
    border-bottom : solid black 2px;
}

.liste-menu{
    list-style-type: none;
}

a {
    text-decoration : none;
    color: inherit;
}