:root {
    --rosedingz : #ffd3eb;
    --beigedingz : #fffbef;
    --jaunedingz : #f8de91;
    --vertdingz : #a1e2bc;
    --violetdingz : #efe8f7;
    --vertflashydingz : #caff33;
}




.main{
    height: 36vh;
    width: 100vw;
    background-color: var(--violetdingz);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid black 2px;
    
}
.main h1 {
    font-family: monstac;
    font-size: 5rem;
}

.main-bolt {
    width: 3rem;
    height: 3rem;
    position: relative;
    bottom: 1rem;
    right: 1rem;
    transition: 2s linear;
}
.main-bolt:hover {

    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
    cursor: pointer;
    transition: 3s linear;

}
.main .main-bubble {
    width: 1rem;
    height: 1rem;
    position: relative;
    right: 10px;
    color: black;
}




.ligne2{
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: var(--beigedingz);
    border-bottom: solid black 2px;

}

.ligne2 .left{
    border-right: solid black 2px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 5rem;

}

.ligne2 .left h1 {
    font-family: madiosa;
    font-size: 4rem;

}

.ligne2 .left .ligne2-exclamation{
    height: 2.7rem;
    position: relative;
    right: 2rem;
    transform: rotate(13deg);
}
.ligne2 .left .ligne2-exclamation:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
    cursor: pointer;
    transition: 3s linear;
}

.ligne2-arrow{
    transform: rotate(90deg);
    width: 3rem;
    height: 8rem;
    position: absolute;
    left: 18rem;
    top: 73vh;
    display:none;

}
.ligne2 .right{
    height: 100%;
    width: 100%;
}

.ligne3{
    height: 50vh;

}

.right{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    
}

.techno {
    display: flex;
    justify-content: center;
    align-items: center;
}


.techno-img{
    height: 6rem;
    width: 6rem;
    transition: 0.3s;
}
        
.techno-img:hover{
    animation: shake 1s linear;

}

.php-img{


}
.react-img{


}
.js-img{


}
.c-img{


}




@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }



  html.is-changing .transition-fade {   transition: opacity 0.25s;   opacity: 1; } /* Define the styles for the unloaded pages */ html.is-animating .transition-fade {   opacity: 0; }